dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.tix
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

*~
.importify/
module_backup
test/Sandbox.hs
*.out
*.el
TAGS
