sudo: false

language: c

cache:
  directories:
  - "$HOME/.stack"
  - "$HOME/build/serokell/importify/.stack-work"

addons:
  apt:
    packages:
    - libgmp-dev

before_install:
  # Download and unpack the stack executable
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  - stack --version

install:
  # Install GHC for current project
  - stack setup --no-terminal
  - stack ghc -- --version

  # Build only dependencies for project
  - stack --jobs=2 build --only-dependencies --no-terminal

  # Build project itself
  - stack --jobs=2 build --test --bench --no-run-tests --no-run-benchmarks --no-terminal

script:
  - stack --jobs=4 test --no-terminal

notifications:
  email: false
  slack:
    rooms:
      - serokell:JWBvWb5PKOhknocQgcoQnflZ
    on_success: change
    on_failure: always